{% extends "core/base.html" %}
{% block content %}
	<div class="create-product">
		<form method="post" class="create-product" enctype="multipart/form-data">
			{% csrf_token %}
	    <div class="cr-pr">
		<div class="create-product-h">
		    Выберите категорию
		</div>
		<div id="choose-category">
		    {{form.category}}
		</div>
		<div class="create-product-h">
		    Информация о товаре
		</div>
		<div class="ad-main-content-block">
		    <div class="info-h">
			Название товара
		    </div id="info-bar-product-name">
		    {{form.title}}
		    <div class="info-h">
			Цена
		    </div>
		    <div id="info-ad-price">
			{{form.price}}
			<div id="ruble">
			    ₽
			</div>
		    </div>
		    <div class="info-h">
			Текст объявления
		    </div>
			<div>
				{{form.description}}
			</div>
			<div class="info-h">
				Изображение
			</div>
			<div class="info-bar-product-sales-conditions">
				{{form.image}}
			</div>
			<input class="universal-button" value="Создать" type="submit" />
		</div>
	</form>
</div>
{% endblock %}
