{% extends "core/base.html" %}
{% block content %}
	<div class="main-block">
      <div class="reg-block">
        <div class="header">
          Вход
        </div>
        <form method="post" class="login-reg-block">
          {% csrf_token %}
          <div class="sign-in">
          {% for field in form %}
            <div class="sign-in-field">
              <div class="sign-in-header">                     
                {{field.label}}
              </div>
              {{field}}
            </div>
            {% endfor %}     
            <button class="universal-button">
              Войти
            </button>
          </div>
        </form>
      <div id="create-account">
      <a href="{% url 'users:register' %}" id="register-link">
        Или зарегистрируйтесь
      </a>
    </div>
  </div>
</div>
{% endblock %}
